<h1 style="font-size: 30px; text-align: center; font-family: 'Poppins', sans-serif; padding-top: 2vw" class="m-4">ЁЯМа  FEATURED COLLECTIONS  ЁЯМа</h1>

<div id="addCarouselHere" class="m-4">

</div>

<script src="/js/allCollections.js"></script>