<div class="flex flex-row justify-between">
    <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src={{artPiece.image}} alt="Art" /></figure>
        <div class="card-body">
            <h2 class="card-title">{{artPiece.name}}</h2>
            <div class="card-actions justify-end">
            </div>
        </div>
    </div>
    <h2>{{Collection.title}}</h2>
    <p>{{Collection.description}}</p>
    <div>
        <button class="btn btn-primary">BUY NOW</button>
    </div>
</div>



<h1>Other pieces you might like</h1>

