
<div class="card w-96 bg-base-100 shadow-xl flex justify-center">
  <div class="card-body">
    <h2 class="card-title">Login</h2>
    <div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">Username</span>
  </label>
  <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
</div>
<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">Password</span>
  </label>
  <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
</div>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Login</button>
    </div>
</main>
  </div>
</div>


<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">Sign-Up</h2>
    <div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">Username</span>
  </label>
  <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
</div>
<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">Password</span>
  </label>
  <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
</div>
<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text"> Re-enter Password</span>
  </label>
  <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
</div>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Create Account</button>
    </div>
</main>
  </div>
</div>


<h2>Sign-Up</h2>

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">Username</span>
  </label>
  <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
</div>
<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">Password</span>
  </label>
  <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
</div>
<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text"> Re-enter Password</span>
  </label>
  <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
</div>
<div>
    <button class="btn btn-primary btn-xs sm:btn-sm md:btn-md lg:btn-lg">Sign-Up</button>
</div>
</main>

