<div
  class="hero min-h-screen"
  style="background-image: url(/assets/loginbg.png);"
>
  <div id="login-form" class="w-full flex justify-center mt-50">
    <div class="card w-96 bg-base-100 shadow-xl flex justify-center">
      <div class="card-body">
        <h2 class="card-title">Login</h2>
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input
            id="username-login"
            type="text"
            placeholder="Type here"
            class="input input-bordered w-full max-w-xs"
          />
        </div>
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            id="password-login"
            type="password"
            placeholder="Type here"
            class="input input-bordered w-full max-w-xs"
          />
        </div>
        <div class="card-actions">
          <a
            href="#my-modal-2"
            class="btn btn-accent w-full"
            id="main-login-btn"
          >Login</a>
          <div class="divider w-full">OR</div>
          <button id="create-btn" class="btn btn-secondary w-full">Create
            Account</button>
        </div>
      </div>
    </div>
  </div>

  {{! Modal for incorrect login credentials }}
  <div class="modal" id="my-modal-2">
    <div class="modal-box">
      <h3 class="font-bold text-lg">❌ INCORRECT USERNAME OR PASSWORD! ❌</h3>
      <p class="py-4" style="text-transform: uppercase;">Please re-enter username and password</p>
      <div class="modal-action">
        <a href="#" class="btn" id="closeButton">Ok!</a>
      </div>
    </div>
  </div>

{{!-- SUccesful Login modal --}}
<div class="modal" id="successfulLoginModal">
    <div class="modal-box">
      <h3 class="font-bold text-lg">✅ LOGIN SUCCESSFUL ✅</h3>
      <p class="py-4" style="text-transform: uppercase;">Welcome back!</p>
      <div class="modal-action">
        <a href="#" class="btn" id="greatButton">Great!</a>
      </div>
    </div>
  </div>

  <div id="signup-form" class="w-full justify-center hidden mt-50">
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Sign-Up</h2>
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input
            id="username-signup"
            type="text"
            placeholder="Type here"
            class="input input-bordered w-full max-w-xs"
          />
        </div>
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            id="password-signup"
            type="password"
            placeholder="Type here"
            class="input input-bordered w-full max-w-xs"
          />
        </div>
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text"> Re-enter Password</span>
          </label>
          <input
            type="password"
            placeholder="Type here"
            class="input input-bordered w-full max-w-xs"
          />
        </div>
        <div class="card-actions">
          <a href="#mymodal3" class="btn btn-primary" id="main-create-btn">Create Account</a>
          <div class="divider w-full">OR</div>
          <button id="login-btn" class="btn btn-secondary w-full">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="mymodal3">
  <div class="modal-box">
    <h3 class="font-bold text-lg">❌ ACCOUNT CREATION FAILED ❌</h3>
    <p class="py-4" style="text-transform: uppercase;">Passwords need to be atleast 8 characters long</p>
    <div class="modal-action">
     <a href="#" class="btn" id="closeButton3">Ok!</a>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>