<div class="w-full h-full flex justify-center">
    <div class="card w-3/4 bg-base-100 shadow-xl mt-6">
        <div class="card-body w-full">
            <h2 class="card-title mx-auto text-4xl">Add Piece</h2>

            <div class="form-control w-5/6 mx-auto">
                <label class="label">
                    <span class="label-text text-2xl">Title</span>
                </label>
                <label class="input-group">
                    <span class="w-1/12">Title</span>
                    <input type="text" placeholder="Title" class="input input-bordered w-11/12" />
                </label>
            </div>

            <div class="form-control w-5/6 mx-auto">
                <label class="label">
                    <span class="label-text text-2xl">Description</span>
                </label>
                <label class="input-group">
                    <textarea class="textarea textarea-bordered h-48 w-full" placeholder="Art description"></textarea>
                </label>
            </div>

            <div class="form-control w-5/6 mx-auto">
                <label class="label">
                    <span class="label-text text-2xl">Image Link</span>
                </label>
                <p class="mb-3">Enter a .png or a .jpg link to the image you would like to put up</p>
                <label class="input-group">
                    <span class="w-1/12">Link</span>
                    <input type="text" placeholder="image.jpg" class="input input-bordered w-11/12" />
                </label>
            </div>

            <div class="form-control w-5/6 mx-auto">
                <label class="label">
                    <span class="label-text text-2xl">Enter amount</span>
                </label>
                <label class="input-group">
                    <span class="w-1/12">Price</span>
                    <input type="text" placeholder="50" class="input input-bordered w-10/12" />
                    <span class="w-1/12">USD</span>
                </label>
            </div>

            <div class="card-actions justify-center my-3">
                <button class="btn btn-accent w-1/2">Put up for sale</button>
            </div>
        </div>
    </div>
</div>